<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>About</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <ion-card-title translate>APP_NAME</ion-card-title>
      <p>
        <ion-icon name="code"></ion-icon> <span translate>Version</span> {{version}}
      </p>
      <div style="text-align: left">
        <p>Train to keep your total meals to no less than 3 times and no more than 5 times per day.</p>
        <p>STRIVE FOR EATING NO MORE THAN FIVE TIMES A DAY!</p>
        <p>Add one day's worth of Emoji Points and always divide by 5 (for the 5 times you are supposed to eat) to see how you are doing for the day.</p>
        <p>Example 1.  A One Day Example May look like this:</p>
        <p>Monday (5 Meals) 😏 +2 😐 +1 😍 +5 😋 +4 😃 +3 = 15</p>
        <p>15 is good because 15/5 = 3.  For good control, an average of about 3 is where you want to be, not too much less and not too much more.</p>
        <p>Example 2.  A One Week Example May look like this:</p>
        <p>15 Emoji Points per day (Average 3 pleasure rating for each of 5 Meals) X 7 days in a week= 105</p>
        <p>Add the Emoji Points for the 7 days of a week.  The Optimal Total Emoji Points per week = 105.</p>
        <p>Recommended Simple Rules of For Meals to Keep you in Emoji Diet Control is as Easy as 1, 2, 3, 4, 5!, The 12345 Method</p>
        <p>1 to 2 small meals per day</p>
        <p>2 to 3 Protein Shakes per day</p>
        <p>4 Cups (total) of Fruits and Vegetable per day</p>
        <p>5 glasses of Water per day (Minimum)</p>
        <p>PERSONAL MOTIVATION FOR OPTIMAL WEIGHT CONTROL IS KEY!!!!!!!</p>
        <p>Make your motivationals in the top of your mind everyday!</p>
        <ul>
          <li>
            <p>Your Health</p>
          </li>
          <li>
            <p>Your Family</p>
          </li>
          <li>
            <p>Your Friends</p>
          </li>
          <li>
            <p>Your Country</p>
          </li>
          <li>
            <p>Your beliefs</p>
          </li>
          <li>
            <p>Perspective: Nothing is impossible.  You made it here in the universe against infinitesimal odds. You can accomplish, against all odds, what seems to be impossible when you believe in yourself.</p>
          </li>
        </ul>
        <p>In order to have all of the tools available to you to ensure your weight control success, is recommended that you sign up on the <a href="http://teleweightcontrol.com/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://teleweightcontrol.com&amp;source=gmail&amp;ust=1514236652542000&amp;usg=AFQjCNFtrJrfQYMiq3fJ037TKB20QflUxQ">teleweightcontrol.com</a> website for additional benefits and support:</p>
        <ul>
          <li>
            <p>Telemedicine weight control private or group visits online with our Board Certified weight control physicians</p>
          </li>
          <li>
            <p>See a Board Certified weight control physician on site or schedule a Concierge housecall</p>
          </li>
          <li>
            <p>Shake Supplements, Vitamins, Ear Acupressure for hunger control</p>
          </li>
          <li>
            <p>Teleweightcontrol Certified Coaching Sessions with feedback on your participation in the Emoji Diet Program</p>
          </li>
          <li>
            <p>Newsletter access &amp; inspirational texts</p></li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
