.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.emotion-1 {
  background-color: powderblue;
}

.emotion-1:hover {
  background-color: darkred;
}

.emotion-2 {
  background-color: palegreen;
}

.emotion-3a {
  background-color: rosybrown;
}

.emotion-3b {
  background-color: #604949;
}

.emotion-4 {
  background-color: yellowgreen;
}

.emotion-5 {
  background-color: deeppink;
}

.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.cc-selector-2 input{
  position:absolute;
  z-index:999;
}

.visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}

.mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}

.visa2{background-image:url(http://i.imgur.com/lXzJ1eB.png);}

.mastercard2{background-image:url(http://i.imgur.com/SJbRQF7.png);}

.visa3{background-image:url(http://i.imgur.com/lXzJ1eB.png);}

.emotion-emoji-1 {
  background-image: url("http://www.freepngimg.com/download/emoji/1-2-wink-emoji-png.png");
  background-size: 100%;
}

.emotion-emoji-2 {
  background-image: url("http://www.freepngimg.com/download/emoji/3-2-love-hearts-eyes-emoji-png.png");
  background-size: 100%;
}

.emotion-emoji-3 {
  background-image: url("http://www.freepngimg.com/download/emoji/4-2-smiling-face-with-sunglasses-cool-emoji-png.png");
  background-size: 100%;
}

.emotion-emoji-4 {
  background-image: url("http://www.freepngimg.com/download/emoji/5-2-face-with-tears-of-joy-emoji-png.png");
  background-size: 100%;
}

.emotion-emoji-5 {
  background-image: url("http://www.freepngimg.com/download/emoji/6-2-angel-blushing-smile-emoji-png.png");
  background-size: 100%;
}

.pleasure-emoji-1 {
  background-image: url("http://www.freepngimg.com/download/emoji/1-2-wink-emoji-png.png");
}

.pleasure-emoji-2 {
  background-image: url("http://www.freepngimg.com/download/emoji/3-2-love-hearts-eyes-emoji-png.png");
}

.pleasure-emoji-3 {
  background-image: url("http://www.freepngimg.com/download/emoji/4-2-smiling-face-with-sunglasses-cool-emoji-png.png");
}

.pleasure-emoji-4 {
  background-image: url("http://www.freepngimg.com/download/emoji/5-2-face-with-tears-of-joy-emoji-png.png");
}

.pleasure-emoji-5 {
  background-image: url("http://www.freepngimg.com/download/emoji/6-2-angel-blushing-smile-emoji-png.png");
}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}

.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  background-color: darkblue;
  border-radius: 5px;
}

.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.1) grayscale(0.1) opacity(0.9);
  -moz-filter: brightness(1.1) grayscale(0.1) opacity(0.9);
  filter: brightness(1.1) grayscale(0.1) opacity(0.9);
}

.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.95);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.95);
  filter: brightness(1.2) grayscale(.5) opacity(.95);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

