$emo-1: #8080ff;
$emo-1h: #66f;
$emo-2: #b3b3ff;
$emo-2h: #99f;
$emo-3: #e6e6ff;
$emo-3h: #99f;


.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.emotion-1 {
  background-color: $emo-1;
  &:hover {
    background-color: $emo-1h;
  }
}

.emotion-2 {
  background-color: $emo-2;
  &:hover {
    background-color: $emo-2h;
  }
}

.emotion-3 {
  background-color: $emo-3;
  &:hover {
    background-color: $emo-3h;
  }
}

.emotion-4 {
  background-color: $emo-2;
  &:hover {
    background-color: $emo-2h;
  }
}

.emotion-5 {
  background-color: $emo-1;
  &:hover {
    background-color: $emo-1h;
  }
}

.emotion-emoji-1 {
  background-image: url("http://www.freepngimg.com/download/emoji/1-2-wink-emoji-png.png");
}

.emotion-emoji-2 {
  background-image: url("http://www.freepngimg.com/download/emoji/3-2-love-hearts-eyes-emoji-png.png");
}

.emotion-emoji-3 {
  background-image: url("http://www.freepngimg.com/download/emoji/4-2-smiling-face-with-sunglasses-cool-emoji-png.png");
  background-size: 100%;
}

.emotion-emoji-4 {
  background-image: url("http://www.freepngimg.com/download/emoji/5-2-face-with-tears-of-joy-emoji-png.png");
}

.emotion-emoji-5 {
  background-image: url("http://www.freepngimg.com/download/emoji/6-2-angel-blushing-smile-emoji-png.png");
}

.pleasure-1 {
  background-color: #e6f7ff;
  &:hover {
    background-color: #cef;
  }
}

.pleasure-2 {
  background-color: #b3e6ff;
  &:hover {
    background-color: #9df;
  }
}

.pleasure-3 {
  background-color: #80d4ff;
  &:hover {
    background-color: #6cf;
  }
}

.pleasure-4 {
  background-color: #b3e6ff;
  &:hover {
    background-color: #9df;
  }
}

.pleasure-5 {
  background-color: #e6f7ff;
  &:hover {
    background-color: #cef;
  }
}

.pleasure-emoji-1 {
  background-image: url("http://www.freepngimg.com/download/emoji/1-2-wink-emoji-png.png");
}

.pleasure-emoji-2 {
  background-image: url("http://www.freepngimg.com/download/emoji/3-2-love-hearts-eyes-emoji-png.png");
}

.pleasure-emoji-3 {
  background-image: url("http://www.freepngimg.com/download/emoji/4-2-smiling-face-with-sunglasses-cool-emoji-png.png");
}

.pleasure-emoji-4 {
  background-image: url("http://www.freepngimg.com/download/emoji/5-2-face-with-tears-of-joy-emoji-png.png");
}

.pleasure-emoji-5 {
  background-image: url("http://www.freepngimg.com/download/emoji/6-2-angel-blushing-smile-emoji-png.png");
}

.hand {
  cursor: pointer;
}

ion-col {
  cursor: pointer;
  padding: 0;
}

.selected-emotion {
  background-color: #f58b0f !important;
}

.selected-pleasure {
  background-color: #f56b10 !important;
}

.saved-meal-toast {
  background-color: #bc470b;
  color: red;
}

.selected-bak {
  background-color: rgba(253, 247, 2, 0.3) !important;
}

.emoji-size {
  font-size: 8.5rem;
}
