<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>Home</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-grid>
      <ion-row>
        <ion-chip>
          <ion-icon name="star" color="dark"></ion-icon>
          <ion-label>Last Weeks Score</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-icon name="star" color="dark"></ion-icon>
          <ion-label>This Weeks Score</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-icon name="heart" color="dark"></ion-icon>
          <ion-label>Today's Score</ion-label>
        </ion-chip>
      </ion-row>

      <h3>Emotion Emoji Scale</h3>
      <ion-row>
        <ion-col (click)="onEmotionChange('1')" [ngClass]="[selectedEmotion == '1' ? 'selected-bak' : '']">
          <ion-card class="emotion-1 emoji-size"  [ngClass]="[selectedEmotion == '1' ? 'selected-emotion' : '']" >
            🐵
          </ion-card>
        </ion-col>
        <ion-col (click)="onEmotionChange('2')" [ngClass]="[selectedEmotion == '2' ? 'selected-bak' : '']">
          <ion-card class="emotion-2 emoji-size"  [ngClass]="[selectedEmotion == '2' ? 'selected-emotion' : '']">
            😊
          </ion-card>
        </ion-col>
        <ion-col (click)="onEmotionChange('3')" [ngClass]="[selectedEmotion == '3' ? 'selected-bak' : '']">
          <ion-card class="emotion-3 emoji-size"  [ngClass]="[selectedEmotion == '3' ? 'selected-emotion' : '']">
            😂
          </ion-card>
        </ion-col>
        <ion-col (click)="onEmotionChange('4')" [ngClass]="[selectedEmotion == '4' ? 'selected-bak' : '']">
          <ion-card class="emotion-4 emoji-size"  [ngClass]="[selectedEmotion == '4' ? 'selected-emotion' : '']">
            🙄
          </ion-card>
        </ion-col>
        <ion-col (click)="onEmotionChange('5')" [ngClass]="[selectedEmotion == '5' ? 'selected-bak' : '']">
          <ion-card class="emotion-5 emoji-size"  [ngClass]="[selectedEmotion == '5' ? 'selected-emotion' : '']">
            😍
          </ion-card>
        </ion-col>
      </ion-row>

      <!--<h3>Emotion Emoji Scale</h3>-->
      <!--<ion-row>-->
        <!--<ion-col (click)="onEmotionChange('1')" [ngClass]="[selectedEmotion == '1' ? 'selected-bak' : '']">-->
          <!--<ion-card class="emotion-1"  [ngClass]="[selectedEmotion == '1' ? 'selected-emotion' : '']">-->
            <!--<img src="http://www.freepngimg.com/download/emoji/1-2-wink-emoji-png.png">-->
          <!--</ion-card>-->
        <!--</ion-col>-->
        <!--<ion-col (click)="onEmotionChange('2')" [ngClass]="[selectedEmotion == '2' ? 'selected-bak' : '']">-->
          <!--<ion-card class="emotion-2"  [ngClass]="[selectedEmotion == '2' ? 'selected-emotion' : '']">-->
            <!--<img src="http://www.freepngimg.com/download/emoji/3-2-love-hearts-eyes-emoji-png.png">-->
          <!--</ion-card>-->
        <!--</ion-col>-->
        <!--<ion-col (click)="onEmotionChange('3')" [ngClass]="[selectedEmotion == '3' ? 'selected-bak' : '']">-->
          <!--<ion-card class="emotion-3"  [ngClass]="[selectedEmotion == '3' ? 'selected-emotion' : '']">-->
            <!--<img src="http://www.freepngimg.com/download/emoji/4-2-smiling-face-with-sunglasses-cool-emoji-png.png">-->
          <!--</ion-card>-->
        <!--</ion-col>-->
        <!--<ion-col (click)="onEmotionChange('4')" [ngClass]="[selectedEmotion == '4' ? 'selected-bak' : '']">-->
          <!--<ion-card class="emotion-4"  [ngClass]="[selectedEmotion == '4' ? 'selected-emotion' : '']">-->
            <!--<img src="http://www.freepngimg.com/download/emoji/5-2-face-with-tears-of-joy-emoji-png.png">-->
          <!--</ion-card>-->
        <!--</ion-col>-->
        <!--<ion-col (click)="onEmotionChange('5')" [ngClass]="[selectedEmotion == '5' ? 'selected-bak' : '']">-->
          <!--<ion-card class="emotion-5"  [ngClass]="[selectedEmotion == '5' ? 'selected-emotion' : '']">-->
            <!--<img src="http://www.freepngimg.com/download/emoji/6-2-angel-blushing-smile-emoji-png.png">-->
          <!--</ion-card>-->
        <!--</ion-col>-->
      <!--</ion-row>-->

      <h3>Pleasure Emoji Scale</h3>
      <ion-row>
        <ion-col (click)="onPleasureChange('1')" [ngClass]="[selectedPleasure == '1' ? 'selected-bak' : '']">
          <ion-card class="pleasure-1"  [ngClass]="[selectedPleasure == '1' ? 'selected-pleasure' : '']">
            <img src="http://www.freepngimg.com/download/emoji/7-2-sad-crying-emoji-png.png">
          </ion-card>
        </ion-col>
        <ion-col (click)="onPleasureChange('2')" [ngClass]="[selectedPleasure == '2' ? 'selected-bak' : '']">
          <ion-card class="pleasure-2"  [ngClass]="[selectedPleasure == '2' ? 'selected-pleasure' : '']">
            <img src="http://www.freepngimg.com/download/emoji/8-2-fearful-emoji-png.png">
          </ion-card>

        </ion-col>
        <ion-col (click)="onPleasureChange('3')" [ngClass]="[selectedPleasure == '3' ? 'selected-bak' : '']">
          <ion-card class="pleasure-3"  [ngClass]="[selectedPleasure == '3' ? 'selected-pleasure' : '']">
            <img src="http://www.freepngimg.com/download/emoji/9-2-tongue-out-emoji-png.png">
          </ion-card>

        </ion-col>
        <ion-col (click)="onPleasureChange('4')" [ngClass]="[selectedPleasure == '4' ? 'selected-bak' : '']">
          <ion-card class="pleasure-4"  [ngClass]="[selectedPleasure == '4' ? 'selected-pleasure' : '']">
            <img src="http://www.freepngimg.com/download/emoji/10-2-unamused-face-emoji-png.png">
          </ion-card>

        </ion-col>
        <ion-col (click)="onPleasureChange('5')" [ngClass]="[selectedPleasure == '5' ? 'selected-bak' : '']">
          <ion-card class="pleasure-1"  [ngClass]="[selectedPleasure == '5' ? 'selected-pleasure' : '']">
            <img src="http://www.freepngimg.com/download/emoji/11-2-loudly-crying-emoji-png.png">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col>
        <button ion-button (click)="onSubmit()">Save Meal</button>
      </ion-col>
    </ion-row>

    <h1>{{clickMessage}}</h1>

    <ion-card-content>
      <ion-card-title>
        <span translate>Inspirational Quote</span>
        <app-emoji-selector></app-emoji-selector>
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q><br>
        <q [hidden]="isLoading">By: {{quoteAuthor}}</q>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
